html
	head
		link(href="/css/base.css" rel="stylesheet")
		link(href="/css/form.css" rel="stylesheet")
	body
		div(class="container")
			div(class="box")
				h1 Course Page
				p Welcome to the course page. Fill the details and choose any action
			
			div(class="box")
				form(method="post", action="/course" class="form")
					input(type="text", name="id", placeholder="Enter Course ID")
					br
					input(type="text", name="name", placeholder="Enter Course Name")
					br
					label Action to Perform
					select(name="action")
						option(value="add") Add Course
						option(value="delete") Delete Course
						option(value="view") View Course
						option(value="activate") Activate Course
						option(value="deactivate") Deactivate Course
					br
					input(type="submit")
			
			div(class="box")
				div(name="message" class="message") #{message}

			div(class="box")
				p 
					a(href="/student") Goto Student Page
				p
					a(href="/map") Goto Mapping Page