html
	head
		link(href="/css/base.css" rel="stylesheet")
		link(href="/css/form.css" rel="stylesheet")
	body
		div(class="container")
			div(class="box")
				h1 Mapping Page
				p Welcome to the mapping page. Enter the course id and student id to register or deregister the student with the course
			
			div(class="box")
				form(action="/map", method="post" class="form")
					input(type="text", name="course_id", placeholder="Enter Course ID")
					br
					input(type="text", name="student_id" placeholder="Enter Student ID")
					br
					label Action to perform
					select(name="action")
						option(value="createmapping") Register
						option(value="deletemapping") Deregister
					br
					input(type="submit")
			
			div(class="box")
				div(name="message" class="message") #{message}

			div(class="box")
				p 
					a(href="/course") Goto Course Page
				p 
					a(href="/student") Goto Student Page