.form {
    margin: 1%;
    padding: 0.5%;
}

.form > * {
    padding: 0.5%;
    margin: 0.5%;
}

input[type=text] {
    padding: 1%;
}

input[type=submit]{
    padding: 1%;
}

.message {
    color: #444;
}